/* Start Varible  */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --background-color: #ececec;
  --main-transition: 0.3s;
  --padding-top: 100px;
  --padding-bottom: 100px;
}
/* End Varible  */
/* Start Global Rules  */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: block;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Midume  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.special-head {
  display: table;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  font-size: 30px;
  padding: 10px 15px;
  position: relative;
  transition: var(--main-transition);
  margin-bottom: 100px;
  z-index: 2;
}
.special-head:hover {
  transition-delay: 0.5s;
  color: white;
  border: 2px solid transparent;
  box-shadow: 0px 0px 5px #ddd;
}
.special-head::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
  z-index: -1;
}
@keyframes move-right {
  0% {
    left: -25px;
  }
  25% {
    left: 0px;
  }
  50%,
  100% {
    left: 0px;
    height: 100%;
    width: 51%;
    border-radius: 0px;
  }
}
.special-head::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 51%;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
  right: -25px;
  z-index: -1;
}
@keyframes move-left {
  0% {
    right: -25px;
  }
  25% {
    right: 0px;
  }
  50%,
  100% {
    right: 0px;
    height: 100%;
    width: 50%;
    border-radius: 0px;
  }
}
.special-head:hover::after {
  animation: move-left 1s linear forwards 1;
}
.special-head:hover::before {
  animation: move-right 1s linear forwards 1;
}

/* End Global Rules  */
/* Start Header  */
header {
  box-shadow: 0 0 10px #ddd;
  background-color: white;
  position: relative;
  z-index: 1;
}
header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header > .container > a {
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: var(--main-color);
}
@media (max-width: 767px) {
  header > .container > a {
    width: 100%;
    height: 50px;
  }
}
@media (max-width: 767px) {
  header > .container > nav {
    margin: auto;
  }
}
header > .container > nav > ul {
  display: flex;
}
header > .container > nav > ul li {
  z-index: 0;
}
header > .container > nav > ul > li > a {
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  color: black;
  font-size: 18px;
  position: relative;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  header > .container > nav > ul > li > a {
    height: 40px;
    font-size: 14px;
    padding: 0 15px;
  }
}
header > .container > nav > ul > li > a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #fafafa;
  z-index: -1;
  right: 0;
  top: 0;
  transition: var(--main-transition);
}
header > .container > nav > ul > li > a:hover::before {
  width: 100%;
}
header > .container > nav > ul > li > a::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 0%;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  transition: var(--main-transition);
}
header > .container > nav > ul > li > a:hover::after {
  width: 100%;
}
header > .container > nav > ul > li > a:hover {
  color: var(--main-color);
  box-shadow: 0 0 1px #ddd;
}
header > .container .other-links {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  background-color: white;
  width: 100%;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  border-bottom: 3px solid var(--main-color);
  display: none;
}
header > .container > nav > ul > li:hover > .other-links {
  display: flex;
}
@media (max-width: 767px) {
  header > .container .other-links {
    padding: 0px;
  }
}
header > .container .other-links > .image {
  width: 45%;
}
@media (max-width: 991px) {
  header > .container .other-links > .image {
    display: none;
  }
}
header > .container .other-links > .image img {
  width: 100%;
}
header > .container .other-links > ul {
  width: 25%;
}
@media (max-width: 991px) {
  header > .container .other-links > ul {
    width: 45%;
  }
}
@media (max-width: 767px) {
  header > .container .other-links > ul {
    width: 100%;
  }
}
header > .container .other-links > ul > li {
  position: relative;
}
header > .container .other-links > ul > li::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  left: 0;
  top: 0;
  background-color: #fafafa;
  transition: var(--main-transition);
  z-index: -1;
}
header > .container .other-links > ul > li:hover::before {
  width: 100%;
  z-index: -1;
}
header > .container .other-links > ul > li > a {
  width: 100%;
  padding: 15px 0;
  font-size: 17px;
  font-weight: bold;
  color: var(--main-color);
}
header > .container .other-links > ul > li:not(:last-of-type) > a {
  border-bottom: 1px solid #ddd;
}
@media (max-width: 767px) {
  header > .container .other-links > ul > li > a {
    border-bottom: 1px solid #ddd;
  }
}
header > .container .other-links > ul > li > a .icon {
  margin: 0 15px;
  font-weight: bold;
}
/* End Header  */
/* Start Landing  */
.landing {
  height: calc(100vh - 71px);
  background-color: white;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .landing {
    height: calc(100vh - 90px);
  }
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  transform: skewY(-6deg);
  top: -15%;
}
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 80%;
}
.landing .container > .text {
  max-width: 45%;
}
@media (max-width: 991px) {
  .landing .container > .text {
    max-width: 70%;
    margin: auto;
    text-align: center;
  }
}
.landing .container > .text > h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.landing .container > .text > p {
  font-size: 22px;
  color: #777;
  line-height: 1.7;
}
@media (max-width: 767px) {
  .landing .container > .text {
    max-width: 100%;
  }
  .landing .container > .text > h1 {
    font-size: 28px;
  }
  .landing .container > .text > p {
    font-size: 18px;
  }
}
.landing .container > .image {
  width: 50%;
}
@media (max-width: 991px) {
  .landing .container > .image {
    display: none;
  }
}
.landing .container > .image > img {
  width: 100%;
  position: relative;
  animation: move-img 2s linear alternate infinite;
}
@keyframes move-img {
  0% {
    top: 20px;
  }
  100% {
    top: -20px;
  }
}
.landing > a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: var(--main-color);
  transition: var(--main-transition);
}
.landing > a:hover {
  color: var(--main-color-alt);
}
.landing > a > .icon {
  position: relative;
  animation: bouncing 1s ease-in-out alternate infinite;
}
@keyframes bouncing {
  0%,
  80%,
  100% {
    bottom: 0px;
  }
  20%,
  60% {
    bottom: 15px;
  }
  40% {
    bottom: 5px;
  }
}
/* End Landing  */
/* Start Articles */
.articles {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.articles .container > .article {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .container > .article > .art {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ddd;
  transition: var(--main-transition);
}
.articles .container > .article > .art:hover {
  box-shadow: 0px 0px 10px 3px #ddd;
  transform: translateY(-10px);
}
.articles .container > .article > .art > .image > img {
  width: 100%;
}
.articles .container > .article > .art > .text {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
.articles .container > .article > .art > .text h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.articles .container > .article > .art > .text p {
  color: #777;
  line-height: 1.4;
}
.articles .container > .article > .art > .button-read {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-color);
}
.articles .container > .article > .art > .button-read a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .container > .article > .art:hover > .button-read i {
  animation: alt-right 1s linear infinite;
}
@keyframes alt-right {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(15px);
  }
}
/* End Articles */
/* Start Gallery  */
.gallery {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-color: var(--background-color);
}
.gallery .container .galleries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .container .galleries .gall {
  background-color: white;
  padding: 15px;
}
.gallery .container .galleries .gall .image {
  overflow: hidden;
  position: relative;
}
.gallery .container .galleries .gall .image::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 30%);
  transition: var(--main-transition);
  z-index: 1;
}
.gallery .container .galleries .gall:hover .image::before {
  animation: back-image 0.5s forwards;
}
@keyframes back-image {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  50% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
.gallery .container .galleries .gall img {
  width: 100%;
  transition: var(--main-transition);
}
.gallery .container .galleries .gall:hover img {
  transform: scale(1.1) rotate(5deg);
}
/* End Gallery  */
/* Start FEATURES  */
.features {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.features .container .feature {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .feature .feat {
  border: 1px solid #ddd;
}
.features .container .feature .feat .image {
  overflow: hidden;
  position: relative;
}
.features .container .feature .feat .image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 99%;
  left: 0;
  top: 0;
}
.features .container .feature .feat:first-child .image::after {
  background-color: rgb(244 64 54 / 60%);
}
.features .container .feature .feat:nth-child(2) .image::after {
  background-color: rgb(0 150 136 / 60%);
}
.features .container .feature .feat:last-child .image::after {
  background-color: rgb(3 169 244 / 60%);
}
.features .container .feature .feat .image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -8px;
  border-color: transparent transparent white;
  border-width: 0px 0px 180px 500px;
  border-style: solid;
  transition: var(--main-transition);
  z-index: 1;
}
.features .container .feature .feat:hover .image::before {
  border-width: 0px 500px 160px 0px;
}
.features .container .feature .feat .image img {
  width: 100%;
}
.features .container .feature .feat .text {
  text-align: center;
  padding: 20px;
}
.features .container .feature .feat .text h1 {
  padding-bottom: 20px;
  margin: 0 auto 50px;
  font-size: 35px;
  width: fit-content;
  position: relative;
}
.features .container .feature .feat .text h1::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.features .container .feature .feat:first-of-type .text h1::before {
  background-color: #f44036;
}
.features .container .feature .feat:nth-child(2) .text h1::before {
  background-color: #009688;
}
.features .container .feature .feat:last-of-type .text h1::before {
  background-color: #03a9f4;
}
.features .container .feature .feat .text p {
  font-size: 20px;
  line-height: 1.7;
  color: #777;
  margin-bottom: 20px;
}
.features .container .feature .feat .text a {
  display: inline-block;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  margin: 30px 0px 10px;
}
.features .container .feature .feat .text a::before {
  transition: var(--main-transition);
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
}
.features .container .feature .feat:first-child .text a {
  color: #f44036;
  border: 3px solid #f44036;
}
.features .container .feature .feat:nth-child(2) .text a {
  color: #009688;
  border: 3px solid #009688;
}
.features .container .feature .feat:last-child .text a {
  color: #03a9f4;
  border: 3px solid #03a9f4;
}
.features .container .feature .feat:hover:first-of-type .text a::before {
  background-color: #f44036;
  width: 100%;
}
.features .container .feature .feat:hover:nth-child(2) .text a::before {
  background-color: #009688;
  width: 100%;
}
.features .container .feature .feat:hover:last-of-type .text a::before {
  background-color: #03a9f4;
  width: 100%;
}
.features .container .feature .feat:hover .text a {
  color: white;
}
/* End FEATURES  */
/* Start TESTIMONIALS  */
.testimonials {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-color: var(--background-color);
}
.testimonials .container .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .container .boxes .box {
  background-color: white;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ddd;
}
.testimonials .container .boxes .box .image {
  position: absolute;
  right: -10px;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials .container .boxes .box .image img {
  width: 80%;
  border-radius: 50%;
}
.testimonials .container .boxes .box .text {
  padding: 20px;
}
.testimonials .container .boxes .box .text h1 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}
.testimonials .container .boxes .box .text p:first-of-type {
  color: #777;
  margin-bottom: 10px;
}
.testimonials .container .boxes .box .text .rate {
  margin-bottom: 10px;
}
.testimonials .container .boxes .box .text .rate .active {
  color: #ffc107;
}
.testimonials .container .boxes .box .text p:last-of-type {
  color: #777;
  line-height: 1.4;
}
/* End TESTIMONIALS  */
/* Start TEAM MEMBERS  */
.teams {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.teams .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.teams .container .team {
  position: relative;
  transition: var(--main-transition);
}
.teams .container .team:hover .section .image,
.teams .container .team:hover .text {
  filter: grayscale(1);
}
.teams .container .team::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  background-color: #f3f3f3;
  z-index: -1;
  right: 0;
  border-radius: 10px;
}
.teams .container .team::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #e4e4e4;
  z-index: -1;
  right: 0;
  top: 0;
  border-radius: 10px;
  transition: var(--main-transition);
}
.teams .container .team:hover::after {
  width: 80%;
}
.teams .container .team .section {
  display: flex;
  margin-top: 50px;
}
.teams .container .team .section .image {
  transition: var(--main-transition);
}
.teams .container .team .section .image img {
  width: 100%;
  border-radius: 10px;
}
.teams .container .team .section .social-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.teams .container .team .section .social-icon i {
  flex-basis: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
}
.teams .container .team .section .social-icon i:hover {
  color: var(--main-color);
}
.teams .container .team .text {
  padding: 25px;
  margin-left: 20%;
}
.teams .container .team .text h2 {
  color: var(--main-color);
  font-size: 22px;
  margin-bottom: 10px;
}
/* End TEAM MEMBERS  */
/* Start SERVICES  */
.services {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-color: var(--background-color);
}
.services .container .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .boxes .box {
  background-color: white;
  box-shadow: 0px 0px 10px #ddd, 0px 0px 14px #c9c8c8;
  position: relative;
  transition: var(--main-transition);
  text-align: center;
}
.services .container .boxes .box:hover {
  transform: translateY(-10px);
}
.services .container .boxes .box::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: var(--main-color);
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.services .container .boxes .box:hover:after {
  width: 100%;
}
.services .container .boxes .box i {
  padding: 25px;
  color: #d5d5d5;
}
.services .container .boxes .box h2 {
  color: var(--main-color);
  margin-bottom: 30px;
}
.services .container .boxes .box .section {
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.services .container .boxes .box .section::before {
  content: "";
  position: absolute;
  height: 102%;
  width: 40%;
  background-color: #ddd;
  transform-origin: top left;
  transform: skewX(-30deg);
}
.services .container .boxes .box .section::after {
  content: "";
  position: absolute;
  height: 102%;
  width: 30%;
  background-color: var(--main-color);
  transform-origin: top left;
  transform: skewX(-30deg);
}
.services .container .boxes .box .section span {
  padding: 5px 20px;
  font-size: 35px;
  font-weight: bold;
  color: white;
  position: relative;
  z-index: 1;
}
.services .container .boxes .box .section a {
  padding: 10px 20px;
  color: var(--main-color);
}
/* End SERVICES  */
/* Start OUR SKILLS  */
.our-skills {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.our-skills .container .content {
  display: flex;
}
@media (max-width: 991px) {
  .our-skills .container .content .image img {
    display: none;
  }
}
.our-skills .container .content .skills {
  flex: 1;
}
.our-skills .container .content .skills h3 {
  margin-bottom: 10px;
  margin-top: 20px;
}
.our-skills .container .content .skills div {
  height: 30px;
  background-color: #eee;
  position: relative;
}
.our-skills .container .content .skills div::after {
  content: attr(data);
  position: absolute;
  right: 0;
  top: -36px;
  padding: 3px;
  border: 1px #ddd solid;
  border-radius: 5px;
  font-size: 13px;
  color: var(--main-color);
}
.our-skills .container .content .skills div span {
  height: 100%;
  display: block;
  background-color: var(--main-color);
}
/* End OUR SKILLS  */
/* Start HOW IT WORKS ?  */
.how-works {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-color: var(--background-color);
}

@media (min-width: 992px) {
  .how-works .container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.how-works .container .content > .image {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.how-works .container .content > .image img {
  width: 70%;
}
@media (min-width: 992px) {
  .how-works .container .content > .image {
    width: 50%;
    justify-content: flex-start;
  }
  .how-works .container .content > .image img {
    width: 90%;
  }
  .how-works .container .works {
    width: 50%;
  }
}
.how-works .container .works .work {
  display: flex;
  background-color: #f6f5f5;
  margin-bottom: 20px;
  padding: 25px;
  border: 3px solid white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .how-works .container .works .work {
    flex-direction: column;
    text-align: center;
  }
}
.how-works .container .works .work::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  background-color: var(--background-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: var(--main-transition);
}
.how-works .container .works .work:hover::before {
  width: 100%;
  height: 100%;
}
.how-works .container .works .work .image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .how-works .container .works .work .image {
    margin-bottom: 20px;
  }
}
.how-works .container .works .work .image img {
  width: 65px;
  margin: 0 15px;
}
.how-works .container .works .work .text {
  margin-left: 25px;
  position: relative;
}
.how-works .container .works .work .text h2 {
  margin: 0 0 10px;
  font-size: 23px;
}
.how-works .container .works .work .text p {
  color: #777;
  line-height: 1.7;
  font-size: 18px;
}
/* End HOW IT WORKS ?  */
/* Start latest-events  */
.latest-events {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.latest-events .container .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.latest-events .container .content img {
  width: 40%;
}
.latest-events .container .content .info {
  width: 60%;
  text-align: center;
}
@media (max-width: 992px) {
  .latest-events .container .content .info {
    width: 100%;
  }
  .latest-events .container .content img {
    display: none;
  }
}
.latest-events .container .content .info h2 {
  font-size: 30px;
  margin: 35px 0 25px;
}
.latest-events .container .content .info p {
  color: #777;
  font-size: 19px;
  line-height: 1.6;
}
.latest-events .container .content .info .time {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
}
.latest-events .container .content .info .time .unit {
  width: 80px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: var(--main-transition);
}
.latest-events .container .content .info .time .unit:hover {
  border: 1px solid var(--main-color);
}
.latest-events .container .content .info .time .unit span:first-child {
  color: var(--main-color);
  font-size: 35px;
  font-weight: bold;
  display: block;
  padding: 10px;
}
.latest-events .container .content .info .time .unit span:last-child {
  display: block;
  border-top: 1px solid #ddd;
  padding: 7px;
  font-size: 14px;
  transition: var(--main-transition);
}
.latest-events .container .content .info .time .unit:hover span:last-child {
  border-top: 1px solid var(--main-color);
}
.latest-events .container .content form {
  width: 600px;
  text-align: center;
  background-color: #f6f5f5;
  padding: 30px 40px;
  margin: 0 auto;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 80px;
}
.latest-events .container .content form input[type="email"] {
  padding: 20px;
  flex: 1;
  border: none;
  border-radius: 50px;
}
.latest-events .container .content form input[type="submit"] {
  padding: 20px;
  background-color: var(--main-color);
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  transition: var(--main-transition);
}
.latest-events .container .content form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
@media (max-width: 767px) {
  .latest-events .container .content form {
    flex-direction: column;
    border-radius: 0;
    max-width: 100%;
    padding: 20px 30px;
  }
  .latest-events .container .content form input[type="email"] {
    border-radius: 0;
  }
  .latest-events .container .content form input[type="submit"] {
    border-radius: 0;
  }
}
/* End latest-events  */
/* Start PRICING PLANS  */
.pricing-plans {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-color: var(--background-color);
}
.pricing-plans .container .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.pricing-plans .container .plans .plan {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  position: relative;
}
.pricing-plans .container .plans .plan::after {
  content: "";
  position: absolute;
  width: 0%;
  background-color: #f6f6f6;
  height: 50%;
  top: 0;
  left: 0;
  transition: var(--main-transition);
}
.pricing-plans .container .plans .plan:hover::after {
  width: 100%;
}
.pricing-plans .container .plans .plan::before {
  content: "";
  position: absolute;
  width: 0%;
  background-color: #f6f6f6;
  height: 50%;
  right: 0;
  bottom: 0;
  transition: var(--main-transition);
}
.pricing-plans .container .plans .plan:hover::before {
  width: 100%;
}
.pricing-plans .container .plans .plan:nth-child(2) {
  transform: translateY(-30px);
}
@media (max-width: 1199px) {
  .pricing-plans .container .plans .plan:nth-child(2) {
    transform: translateY(0px);
  }
}
.pricing-plans .container .plans .plan:nth-child(2) .flag {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  width: 40px;
  z-index: 2;
}
.pricing-plans .container .plans .plan:nth-child(2) .flag::after {
  content: "";
  position: absolute;
  border-color: transparent transparent white;
  border-style: solid;
  border-width: 20px;
  bottom: -1px;
  left: 0;
}
.pricing-plans .container .plans .plan:nth-child(2):hover .flag::after {
  border-color: transparent transparent #fafafa;
}
.pricing-plans .container .plans .plan .section {
  text-align: center;
  position: relative;
  z-index: 1;
}
.pricing-plans .container .plans .plan .section h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.pricing-plans .container .plans .plan .section img {
  width: 80px;
}
.pricing-plans .container .plans .plan .section h1 {
  font-size: 60px;
  color: var(--main-color);
  margin: 30px 0 5px 0px;
}
.pricing-plans .container .plans .plan .section p {
  color: #777;
  font-size: 15px;
  margin-bottom: 30px;
}
.pricing-plans .container .plans .plan .data {
  position: relative;
  z-index: 1;
}
.pricing-plans .container .plans .plan .data p {
  padding: 20px;
  border-top: 1px solid #eee;
}
.pricing-plans .container .plans .plan .data p::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 20px;
  font-weight: bold;
  color: var(--main-color);
}
.pricing-plans .container .plans .plan a {
  width: fit-content;
  margin: 30px auto 30px auto;
  padding: 15px 25px;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  color: var(--main-color);
  font-weight: bold;
  transition: var(--main-transition);
  position: relative;
  z-index: 1;
}
.pricing-plans .container .plans .plan a:hover {
  color: white;
  background-color: var(--main-color);
}
/* End PRICING PLANS  */
/* Start TOP VIDEOS  */
.top-videos {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
@media (min-width: 992px) {
  .top-videos .container {
    display: flex;
  }
}
.top-videos .container .list {
  border: 2px solid var(--background-color);
}
@media (min-width: 992px) {
  .top-videos .container .list {
    width: 300px;
  }
}
.top-videos .container .list .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 15px;
}
.top-videos .container .list .head h2 {
  font-size: 18px;
}
.top-videos .container .list ul li {
  padding: 15px;
  border-bottom: 2px solid var(--background-color);
}
.top-videos .container .list ul li:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.top-videos .container .list ul li p {
  line-height: 2;
}
.top-videos .container .list ul li span {
  color: #777;
}
.top-videos .container .video {
  padding: 10px;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.top-videos .container .video img {
  max-width: 100%;
  margin-bottom: 10px;
}
.top-videos .container .video p {
  background-color: white;
  padding: 20px;
}
/* End TOP VIDEOS  */
/* Start Our Awesome Stats  */
.awesome-state {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-image: url(../images/Stats.jpg);
  background-size: cover;
  position: relative;
}
.awesome-state::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
}
.awesome-state .container {
  position: relative;
}
.awesome-state .container h1 {
  font-size: 40px;
  text-align: center;
  margin: 0 0 40px 0;
}
.awesome-state .container .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.awesome-state .container .boxes .box {
  background-color: white;
  text-align: center;
  padding: 30px;
  position: relative;
}
.awesome-state .container .boxes .box::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 3px;
  height: 0%;
  top: 0;
  left: 0;
  transition: var(--main-transition);
}
.awesome-state .container .boxes .box:hover::before {
  height: 100%;
}
.awesome-state .container .boxes .box::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 3px;
  height: 0%;
  bottom: 0;
  right: 0;
  transition: var(--main-transition);
}
.awesome-state .container .boxes .box:hover::after {
  height: 100%;
}
.awesome-state .container .boxes .box h3 {
  font-size: 50px;
  margin: 10px 0;
}
.awesome-state .container .boxes .box .italic {
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
}
/* End Our Awesome Stats  */
/* Start Discount */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.discount .image {
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
}
@keyframes change-background {
  0%,
  100% {
    background-image: url("../images/50-Discount-PNG-Photo.png");
  }
  50% {
    background-image: url("../images/50-Discount.png");
  }
}
.discount .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
  }
}
.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}
.discount .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discount .form textarea.input {
  resize: none;
  height: 200px;
}
.discount .form .input:focus {
  outline: none;
}
.discount .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}
.discount .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.discount .content {
  text-align: center;
  padding: 0 20px;
}
.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 33px 0;
}
.discount .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
.discount .content img {
  width: 300px;
  max-width: 100%;
}
/* End Discount */
/* Start Footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .box .social {
  display: flex;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
  background-color: #ff0000;
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
/* End Footer */
